html{
    font-size:10px;
}



body{
    margin: 0 10%;
    background-color: #c8c8ff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom:100px;
}
h1{
    text-align:center;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header{
    text-align: right;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: white;
    font-size:1.5rem;
    
}
.header a{
    text-decoration:none;
    margin: 0% 20px;
    color: black;
    font-size:1.1em;
    font-family:cursive;
}



.container{
    float:left;
    max-width:300px;
    margin-right:20px;
    margin-bottom:10px;
    height:auto;
}

.home{
    background-color:#8a99ec;
    padding: 15px 30px;
    margin: 50px 30%;
    border-radius: 50px;
    font-size:2rem;
}

table {
    border-collapse:collapse;
    width: 60%;
    background-color: #cdd6ff;
    margin-left:auto;
    margin-right:auto;
}

th, td {
    border: 3px solid #333333;
    padding: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
caption{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}
th {
    background-color: #5d60ff;
    font-weight: bold;
    color: white
}
td a{
    text-decoration:none;
    font-weight:bold;
}

.gallery{
    max-width:800px;
    height:auto;
    border: 1px solid black;
}
nav{
    color: #0066cc;
    bottom: 0;
}
nav a{
    text-decoration: none;  
    font-weight: bold;
    margin: 10px 10px;
}

a:hover{
    color: rgb(117, 0, 226);
}

footer{
    margin-top:10px;
    background-color: rgb(175, 175, 255);
    padding: 10px 10px;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}



